.explore {
  padding-top: 75px;
}

.explore-container {
  display: flex;
  justify-content: space-between;
}

.explore__content {
  flex-basis: 660px;
  flex-shrink: 0;
}

.explore-img {
  margin-top: 15px;
  max-width: 720px;
}
