.header {
  background-color: $bg-dark;
  color: $text-white;
}
.header-container {
  display: flex;
  min-height: 160px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
