.logo {
  background-image: url(../../assets/img/logo/logo-louvre.svg);
  background-repeat: no-repeat;
  background-position: left 9px;
  color: $text-white;
  text-decoration: none;
  @extend %transition;
  &:hover {
    filter: invert(27%) sepia(51%) saturate(500%) hue-rotate(5deg)
      brightness(80%) contrast(50%);
  }
}

.header-logo {
  margin-left: 74px;
  @extend %font-add;
  @include font($size: 2.8rem, $height: 5rem, $weight: 400);
  letter-spacing: 5px;
  text-transform: uppercase;
}
