.player-slider {
  margin: 41px 0 31px 0;
  display: flex;
  justify-content: space-between;
}

.player-slider__item {
  pointer-events: none;
}

.player-slider__nav {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.player-slider__btn {
  width: 10px;
  border: none;
}
.player-slider__arrow-left {
  background-image: url(../../assets/img/player/player-slider/arrow_left.svg);
  background-repeat: no-repeat;
  text-decoration: none;
}
.player-slider__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $slider-link;
  border: none;
  outline: 0;
  cursor: pointer;
  @extend %transition;
  &:hover {
    background-color: $dark-red;
  }
}
.player-slider__dot-active {
  background-color: $slider-active;
}
.player-slider__arrow-right {
  background-image: url(../../assets/img/player/player-slider/arrow_right.svg);
  background-repeat: no-repeat;
  text-decoration: none;
}
.player-slider__arrow-right,
.player-slider__arrow-left {
  cursor: pointer;
  background-color: transparent;
  @extend %transition;
  &:hover {
    filter: invert(95%) sepia(97%) saturate(7481%) hue-rotate(2deg)
      brightness(49%) contrast(95%);
  }
}
