.section {
  padding-bottom: 53px;
}

.section_dark {
  background-color: $bg-dark;
  color: $text-white;
}

.section__title {
  position: relative;
  margin-bottom: 25px;
  @extend %font-add;
  @include font($size: 8rem, $height: 9rem, $weight: 400);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-dark {
  background-color: $bg-dark;
}

.section__title-gold {
  color: $font-gold;
}
.section__title-underline {
  margin-bottom: 103px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    height: 3px;
    background-color: $dark-red;
  }
}
