.slider {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 7px;
    left: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.5) 16.19%,
      rgba(0, 0, 0, 0) 30.73%
    );
  }
}
.slider__item img {
  width: 100%;
  height: auto;
}
.slider__nav {
  position: absolute;
  right: 0;
  bottom: -53px;
  display: flex;
  justify-content: center;
  min-width: 600px;
  height: 120px;
  align-items: center;
  background: $bg-dark;
}

.slider__value {
  display: flex;
  margin-right: 55px;
  min-width: 76px;
  @extend %font-prim;
  @include font($size: 2.2rem, $height: 4rem, $weight: 400);
  justify-content: space-between;
  text-transform: uppercase;
  color: $text-white;
}

.slider__dots {
  display: flex;
  justify-content: space-between;
  min-width: 180px;
  margin-right: 60px;
}
.slider__dot {
  width: 16px;
  height: 16px;
  border: none;
  outline: 0;
  background-color: $text-white;
  cursor: pointer;
  @extend %transition;
  &:hover {
    background-color: $font-gold;
  }
}
.slider__dot-active {
  background-color: $gold-light;
}

.slider__arrows {
  display: flex;
  width: 80px;
  height: 8px;
}

.slider__arrow-left {
  background-image: url(../../assets/img/svg/arrow-left.svg);
  background-repeat: no-repeat;
  text-decoration: none;
}
.slider__arrow-right {
  background-image: url(../../assets/img/svg/arrow-right.svg);
  background-repeat: no-repeat;
  text-decoration: none;
  margin-left: 9px;
}

.slider-btn {
  min-width: 50%;
  color: $text-white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  @extend %transition;
  &:hover {
    filter: invert(27%) sepia(51%) saturate(500%) hue-rotate(5deg)
      brightness(80%) contrast(50%);
  }
}
