.tickets {
  padding-top: 75px;
}

.tickets__container {
  display: flex;
}

.tickets__img {
  width: 720px;
  height: 550px;
  background: url(../../assets/img/tickets/buy_tickets.jpg) no-repeat center
    center/cover;
}

.tickets__type {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.tickets-subtitle {
  @extend %font-prim;
  @include font($size: 2.8rem, $height: 3.3rem, $weight: bold);
  color: $text-black;
}

.tickets-text {
  @extend %font-prim;
  @include font($size: 2.2rem, $height: 2.6rem, $weight: 300);
  color: $text-black;
}

.tickets__radio-label {
  position: relative;
  margin-top: 50px;
  padding-left: 20px;
  user-select: none;
}

.tickets__radio-input {
  opacity: 0;
  cursor: pointer;
}

.tickets-checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid $text-black;
  cursor: pointer;
  @extend %transition;
}

.tickets-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tickets__radio-label input:checked ~ .tickets-checkmark:after {
  display: block;
}

.tickets-checkmark:after {
  top: 3px;
  left: 3px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: $text-black;
}

.tickets__radio-label:hover input ~ .tickets-checkmark {
  background-color: $hover-light;
}

.tickets__amount {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tickets__amounts-basic {
  margin-top: 10px;
}

.tickets__amount-control {
  display: flex;
  height: 50px;
  width: 150px;
  margin-top: 12px;
  border: 2px solid $text-black;
}

.tickets__amount-btn {
  width: 50px;
  @extend %font-prim;
  @include font($size: 3.2rem, $height: 3.7rem, $weight: 400);
  color: $text-black;
  @extend %transition;
  border: none;
  background: transparent;
}
.tickets__amount-btn:hover {
  color: $font-gold;
}

.tickets__amount-input {
  width: 50px;
  text-align: center;
  border: none;
  @extend %transition;
  background: transparent;
  outline: none;
}

.tickets__amounts-senior {
  margin-top: 35px;
}

.tickets-total {
  margin-top: 50px;
  letter-spacing: 1.65px;
}

.tickets-btn {
  margin-top: 50px;
  width: 175px;
  height: 50px;
  background-color: $text-black;
  border: none;
  letter-spacing: 2px;
  color: $text-white;
  @extend %transition;
}
.tickets-btn:hover {
  color: $font-gold;
}
