.welcome {
  padding-bottom: 53px;
}

.welcome__container {
  display: flex;
  align-items: center;
}

.welcom__content {
  flex: 1;
  padding-bottom: 62px;
  z-index: 1;
}

.welcome__text {
  padding-bottom: 75px;
  @extend %font-prim;
  @include font($size: 2.8rem, $height: 3.3rem, $weight: 300);
  letter-spacing: 2px;
  color: $text-white;
}

.welcome__button {
  display: inline-block;
  height: 75px;
  width: 360px;
  @extend %font-prim;
  @include font($size: 2.2rem, $height: 7.5rem, $weight: 100);
  text-align: center;
  background-color: $dark-red;
  text-decoration: none;
  border-radius: 10px;
  letter-spacing: 2px;
  color: $text-white;
  @extend %transition;
  &:hover {
    background-color: $font-gold;
  }
}

.welcome__slider {
  position: relative;
  margin-left: -280px;
  padding-top: 5px;
}
