//Abstract
@import "abstract/constants";
@import "abstract/mixins";
@import "abstract/placeholders";

/* Default styles */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* System Fonts */
body {
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

/* Blocks */
@import "blocks/header";
@import "blocks/container";
@import "blocks/logo";
@import "blocks/navigation";
@import "blocks/main";
@import "blocks/section";
@import "blocks/welcome";
@import "blocks/slider";
@import "blocks/visiting";
@import "blocks/card";
@import "blocks/explore";
@import "blocks/video";
@import "blocks/player";
@import "blocks/player-slider";
@import "blocks/gallery";
@import "blocks/tickets";
@import "blocks/tickets-modal";
@import "blocks/contacts";
@import "blocks/footer";
