$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$gold-light: #d2b183;

$text-white: #ffffff;
$text-black: #000000;
$booking-title: #272727;

$timeline-blue: #24809e;
$timeline-grey: #c4c4c4;

$slider-link: #999999;
$slider-active: #333333;
$slider-video-btn: rgba(33, 33, 33, 0.8);

$content-width: 1440px;
$laptop-width: 984px;
$tablet-width: 728px;
$mobile-width: 380px;

$hover-light: #dbdbdb;
