<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="section__title section__title-gold section__title-underline">
      Contacts
    </h2>
    <div class="contacts__container">
      <div>
        <h3 class="contacts__address">Palais Royal <br />Musee du Louvre</h3>
        <ul class="contacts__address-list">
          <li class="contacts__address-item">address: 75001 Paris, France</li>
          <li class="contacts__address-item">
            phone:<a
              class="contacts__address-link"
              href="tel:+33(0) 1 40 20 50 50"
            >
              +33(0) 1 40 20 50 50</a
            >
          </li>
          <li class="contacts__address-item">
            mail:
            <a class="contacts__address-link" href="mailto: info@louvre.fr">
              info@louvre.fr</a
            >
          </li>
        </ul>
      </div>
      <div class="contacts__map"></div>
    </div>
  </div>
</section>
