<footer class="footer">
  <div class="container footer__container">
    <a class="logo" href="#"> <span class="header-logo">Louvre</span></a>
    <div class="footer-navigation">
      <ul class="navigation navigation-footer">
        <li class="navigation__link navigation__link-footer">
          <a class="navigation__item" href="#visiting">Visiting</a>
        </li>
        <li class="navigation__link navigation__link-footer">
          <a class="navigation__item" href="#explore">Explore</a>
        </li>
        <li class="navigation__link navigation__link-footer">
          <a class="navigation__item" href="#video">Video</a>
        </li>
        <li class="navigation__link navigation__link-footer">
          <a class="navigation__item" href="#gallery">Gallery</a>
        </li>
        <li class="navigation__link navigation__link-footer">
          <a class="navigation__item" href="#tickets">Tickets</a>
        </li>
        <li class="navigation__link navigation__link-footer">
          <a class="navigation__item" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="social-navigation">
      <ul class="social-navigation__list">
        <li class="social-navigation__item">
          <a
            href="https://www.youtube.com/user/louvre"
            class="social-navigation__link social-navigation__link-youtube"
          ></a>
        </li>
        <li class="social-navigation__item">
          <a
            href="https://www.instagram.com/museelouvre/"
            class="social-navigation__link social-navigation__link-instagram"
          ></a>
        </li>
        <li class="social-navigation__item">
          <a
            href="https://www.facebook.com/museedulouvre"
            class="social-navigation__link social-navigation__link-facebook"
          ></a>
        </li>
        <li class="social-navigation__item">
          <a
            href="http://twitter.com/museelouvre"
            class="social-navigation__link social-navigation__link-twitter"
          ></a>
        </li>
        <li class="social-navigation__item">
          <a
            href="https://www.pinterest.fr/museedulouvre/"
            class="social-navigation__link social-navigation__link-pinterest"
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="footer-hr" />
  <div class="container footer-copyright">
    <span class="year">© 2021</span>
    <span class="rolling">
      <a href="https://rs.school/" class="rolling__link"
        >The Rolling Scopes School</a
      >
    </span>
    <span class="git-user">
      <a href="https://github.com/viktishchenko" class="git-user__link"
        >Viktor Tishchenko</a
      >
    </span>
  </div>
</footer>
