<section class="section gallery section-dark" id="gallery">
  <div class="container">
    <h2 class="section__title">Art Gallery</h2>
    <div class="gallery__container">
      <div class="gallery__inner-container">
        <img
          src="../../assets/img/galery/galery2.jpg"
          width="456"
          height="570"
          alt="1"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery1.jpg"
          width="456"
          height="570"
          alt="6"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery4.jpg"
          width="456"
          height="456"
          alt="3"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery6.jpg"
          width="456"
          height="570"
          alt="4"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery11.jpg"
          width="456"
          height="456"
          alt="5"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery10.jpg"
          width="456"
          height="456"
          alt="2"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery8.jpg"
          width="456"
          height="570"
          alt="7"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery3.jpg"
          width="456"
          height="570"
          alt="8"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery7.jpg"
          width="456"
          height="570"
          alt="9"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery13.jpg"
          width="456"
          height="348"
          alt="10"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery5.jpg"
          width="456"
          height="570"
          alt="11"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery9.jpg"
          width="456"
          height="456"
          alt="12"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery15.jpg"
          width="456"
          height="456"
          alt="13"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery12.jpg"
          width="456"
          height="456"
          alt="14"
          class="gallery__img"
        />
        <img
          src="../../assets/img/galery/galery14.jpg"
          width="456"
          height="570"
          alt="15"
          class="gallery__img"
        />
      </div>
    </div>
  </div>
</section>
