<header class="header">
  <div class="container header-container">
    <a href="#" class="logo">
      <object
        type="image/svg+xml"
        data="./assets/img/logo/logo-louvre.svg"
        class="logo-object"
      >
        Your browser does not support SVG
      </object>
      <h1 class="header-logo">louvre</h1></a
    >
    <nav class="header-navigation">
      <ul class="navigation">
        <li class="navigation__link">Visiting</li>
        <li class="navigation__link">Explore</li>
        <li class="navigation__link">Video</li>
        <li class="navigation__link">Gallery</li>
        <li class="navigation__link">Tickets</li>
        <li class="navigation__link">Contacts</li>
      </ul>
    </nav>
  </div>
</header>
