<ul class="navigation">
  <li class="navigation__link">
    <a class="navigation__item" href="#visiting">Visiting</a>
  </li>
  <li class="navigation__link">
    <a class="navigation__item" href="#explore">Explore</a>
  </li>
  <li class="navigation__link">
    <a class="navigation__item" href="#video">Video</a>
  </li>
  <li class="navigation__link">
    <a class="navigation__item" href="#gallery">Gallery</a>
  </li>
  <li class="navigation__link">
    <a class="navigation__item" href="#tickets">Tickets</a>
  </li>
  <li class="navigation__link">
    <a class="navigation__item" href="#contacts">Contacts</a>
  </li>
</ul>
