<section class="section video" id="video">
  <div class="container video__container">
    <div class="video__content">
      <h2 class="section__title section__title-gold">Video journey</h2>
      <p class="section__text text-black">
        Enter and visit one of the most famous museums in the world and enjoy
        masterpieces such as Mona Lisa or Hammurabi's Code
      </p>
    </div>
    <div class="player">
      <div class="player__container">
        <button class="player__button"></button>
      </div>
      <div class="player__controls">
        <button class="player__controls-play"></button>
        <input
          class="player__controls-progress progress"
          type="range"
          value="54"
          min="0"
          max="100"
          step="1"
        />
        <button class="player__controls-volume"></button>
        <input
          class="player__controls-volume-input progress"
          type="range"
          value="43"
          min="0"
          max="100"
          step="1"
        />
        <button class="player__controls-fullscreen"></button>
      </div>
    </div>
    <div class="player-slider">
      <div class="player-slider__item">
        <img src="https://via.placeholder.com/452x254" alt="452x254" />
        <!-- <iframe
          width="452"
          height="254"
          src="https://www.youtube.com/embed/aWmJ5DgyWPI?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe> -->
      </div>
      <div class="player-slider__item">
        <img src="https://via.placeholder.com/452x254" alt="452x254" />
        <!-- <iframe
          width="452"
          height="254"
          src="https://www.youtube.com/embed/Vi5D6FKhRmo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe> -->
      </div>
      <div class="player-slider__item">
        <img src="https://via.placeholder.com/452x254" alt="452x254" />
        <!-- <iframe
          width="452"
          height="254"
          src="https://www.youtube.com/embed/NOhDysLnTvY?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe> -->
      </div>
    </div>
    <div class="player-slider__nav">
      <button class="player-slider__arrow-left player-slider__btn"></button>
      <span class="player-slider__dot player-slider__dot-active"></span>
      <span class="player-slider__dot"></span>
      <span class="player-slider__dot"></span>
      <span class="player-slider__dot"></span>
      <span class="player-slider__dot"></span>
      <button class="player-slider__arrow-right player-slider__btn"></button>
    </div>
  </div>
</section>
