<section class="section visiting" id="visiting">
  <div class="container">
    <h2 class="section__title section__title-gold section__title-underline">
      Virtual tour
    </h2>
    <div class="card-container">
      <a href="#" class="card">
        <img
          class="card__img"
          src="./assets/img/virtual-tour/Royal-Palace.jpg"
          alt="Royal Palace"
        />
        <h3 class="card__title">Royal Palace</h3>
        <p class="card__desc">360° Virtual Tour</p>
        <p class="card__text">Google Street Panorama View</p>
      </a>

      <a href="#" class="card">
        <img
          class="card__img"
          src="./assets/img/virtual-tour/Denon-Wing.jpg"
          alt="Denon Wing"
        />
        <h3 class="card__title">Denon Wing</h3>
        <p class="card__desc">360° Virtual Tour</p>
        <p class="card__text">Google Street Panorama View</p>
      </a>

      <a href="#" class="card">
        <img
          class="card__img"
          src="./assets/img/virtual-tour/Colonnade-Perrault.jpg"
          alt="Colonnade Perrault"
        />
        <h3 class="card__title">Colonnade Perrault</h3>
        <p class="card__desc">360° Virtual Tour</p>
        <p class="card__text">Google Street Panorama View</p>
      </a>

      <a href="#" class="card">
        <img
          class="card__img"
          src="./assets/img/virtual-tour/Greek-hall.jpg"
          alt="Greek hall"
        />
        <h3 class="card__title">Greek hall</h3>
        <p class="card__desc">360° Virtual Tour</p>
        <p class="card__text">Google Street Panorama View</p>
      </a>

      <a href="#" class="card">
        <img
          class="card__img"
          src="./assets/img/virtual-tour/Mona-Lisa.jpg"
          alt="Mona Lisa"
        />
        <h3 class="card__title">Mona Lisa</h3>
        <p class="card__desc">360° Virtual Tour</p>
        <p class="card__text">Google Street Panorama View</p>
      </a>

      <a href="#" class="card">
        <img
          class="card__img"
          src="./assets/img/virtual-tour/Night-Palace.jpg"
          alt="Night Palace"
        />
        <h3 class="card__title">Night Palace</h3>
        <p class="card__desc">360° Virtual Tour</p>
        <p class="card__text">Google Street Panorama View</p>
      </a>
    </div>
  </div>
</section>
