<section class="section welcome section-dark">
  <div class="container welcome__container">
    <div class="welcom__content">
      <h2 class="section__title">
        Welcome <br />
        to the Louvre
      </h2>
      <p class="welcome__text">From the castle to the museum</p>
      <a
        class="welcome__button"
        href="https://www.google.com/maps/@48.8618159,2.3366818,3a,75y,81.55h,73.4t/data=!3m7!1e1!3m5!1sAF1QipOVxZQuSy3Bx9T_HpH_7FtBHDTXvI6SF-A10ocT!2e10!3e12!7i5472!8i2736"
        target="_blank"
        rel="noopener noreferrer"
        >Discover the Louvre</a
      >
    </div>
    <div class="welcome__slider">
      <div class="slider" id="slider">
        <div class="slider__item">
          <img src="./assets/img/welcome-slider/1.jpg" alt="Огонь" />
        </div>
      </div>
      <div class="slider__nav">
        <div class="slider__value">
          <span>01</span>
          <span>|</span>
          <span>05</span>
        </div>
        <div class="slider__dots">
          <span class="slider__dot"></span>
          <span class="slider__dot slider__dot-active"></span>
          <span class="slider__dot"></span>
          <span class="slider__dot"></span>
          <span class="slider__dot"></span>
        </div>
        <div class="slider__arrows">
          <button class="slider__arrow-left slider-btn"></button>
          <button class="slider__arrow-right slider-btn"></button>
        </div>
      </div>
    </div>
  </div>
</section>
